/* :root {
    font-size: calc(0.45em + 1vw);
  } */
  
  /* Colors
  white: #fff
  very light: #F0EBD8
  light: #748CAB
  normal: #3E5C76
  dark: #1D2D44
  accent: #2A4494
  */
  
  /* font-family: 'Merriweather', serif; */
  @import url('https://fonts.googleapis.com/css?family=Merriweather');
  
  /* font-family: 'Six Caps', sans-serif; */
  @import url('https://fonts.googleapis.com/css?family=Six+Caps');
  
  body {
    color: #3E5C76;
    line-height: 1.6;
    background: #fff;
    font-family: 'Merriweather', serif;
    font-size: 0.875rem;
    margin: 0;
    overflow-x: hidden;
  }

  
  
  h1, h2, p {
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  h1 {
    color: #2A4494;
    line-height: 1;
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
    letter-spacing: 0.05em;
    color: #1D2D44;
    line-height: 1;
    font-family: 'Six Caps', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    margin: 0;
  }

  figure {
    margin: 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 55em;
  }
  
  /* Used to allow background image opacity without affecting text. 
     Wrapper that is the same size as the background image. */
  .hero-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* background image */
  .hero-background {
    background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
  }
  
  /* sibling text over the background image so it's not affected by opacity */
  .hero-text {
      position: absolute;
      max-width: 50%;
  }
  
  .hero-wrapper h1{
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #1D2D44;
    line-height: 1.3;
    text-align: center;
  }
  
  .hero-wrapper h1 span {
    color: #2A4494;
    font-family: 'Six Caps', sans-serif;
    display: block;
    font-size: 5.5rem;
    letter-spacing: 0.08em;
    font-weight: normal;
  }
  
  /* lines on hero */
  .hero-wrapper h1::before, .hero-wrapper h1::after {
    content: '';
    display: block;
    height: 3px;
    background: #1D2D44
  }
  
  /* line above text */
  .hero-wrapper h1::before {
    margin: 0 auto 2em;
  }
  
  /* line below text */
  .hero-wrapper h1::after {
    margin: 2em auto 0;
  }
  
  .about-me {
    margin: 5em 0;
    display: flex;
  }

  .about-title {
    margin: 0.5em 0;
  }

  .about-subtitle {
    margin: 0.5em 0;
  }

  .about-text p {
    margin: 0;
    font-size: 1rem;
  }

  .about-text span {
    font-weight: 900;
  }

  .about-img {
    float: left;
    margin-right: 1em;
    max-width: 310px;
  }


  /* about me grid start */
  @supports (display: grid) {
    .about-me {
      display: grid;
      grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
    }

    .about-img {
      grid-column: port-start / img-end;
      grid-row: 1 / 3;
      height: auto;
    }

    .about-title {
      grid-column: name / port;
      grid-row: 1 / 2;
      align-self: center;
    }

    .about-subtitle, .about-text{
      grid-column: port / port;
    }

    .about-text {
      margin-bottom: 1em;
    }
  }
  /* about me grid end */

  .portfolio {
    text-align: center;
    background: #F0EBD8;
    padding: 5em 0;
  }

  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-items .container {
    max-width: 75em;
  }

  .portfolio-item {
    position: relative;
    overflow: hidden;
    flex: 1 1 20rem;
  }

  .portfolio-item img {
    min-height: 100%;
    width: auto;
  }
  
  .portfolio-item figcaption {
    position: absolute;
    top: 100%; /* Hides hover effect */
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
    background: rgba(42,68,148, .5);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
  }

  .portfolio-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: auto; /* pushing text below the title to the bottom */
  }

  .portfolio-description {
    display: none;
  }

  .featured .portfolio-description {
    display: block;
    display: none;
  }

  .portfolio-link {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;

    /* remove underline for link and add my own */
    text-decoration: none;
    border-bottom: 2px solid white;
    align-self: flex-start;
  }

  /* focus on mobile hover happens on touch */
  .portfolio-item:hover figcaption,
  .portfolio-item:focus figcaption {
    top: 0;
  }

  /* If browser supports the grid, display the following 
    for the portfolio items */               
  @supports (display: grid) {
    .portfolio-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /*grid-gap: 1em;*/
    }

    .portfolio-item.featured {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

    .portfolio-item.featured .portfolio-title {
      font-size: 5rem;
    }

    .potfolio-desc {
      display: block;
    }
  }

  .contact {
    padding: 5em 0;
  }

  .contact h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-top: 1em;
    color: #1D2D44;
  }

  input, textarea {
    box-sizing: border-box;
    display: block;
    padding: 0.75em;
    width: 100%;
    background: #F0EBD8;
    border: 1px solid #1D2D44;
    font-size: 1.2rem;
  }

  .button {
    display: block;
    width: 30%;
    margin-top: 1em;
    margin-left: auto;
    background: #2A4494;
    border: none;
    color: white;
    font-family: 'Merriweather', serif;
  }

  footer {
    background: #1D2D44;
    padding: 5em 0;
    text-align: center;
    color: white;
  }

  .social-icons {
    max-width: 15em;
    display: flex;
    justify-content: space-between;
    margin: 1em auto 3em;
  }

  .social-icon {
    width: 25%;
    height: 15%;
  }

  .copyright::before {
    content: '';
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, .25);
    margin: 4em auto;
    width: 25%;
  }

  .menu-button {
    position: absolute;
    top: 3em;
    left: 3em;
    background: transparent;
    border: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: stretch;
    background: #2A4494;
  }

  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 10;

    transform: translateX(-100%); /* move all the way left on the x-axis */
    transition: transform ease-out 250ms;
  }

  nav li {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav li:hover {
    background: #1D2D44;
  }

  nav a {
    display: inline-block;
    font-family: 'Six Caps', sans-serif;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    padding: calc(100vh/8) 0;
    width: 100%;
    line-height: 0;
    text-align: center;
  }

  .close-icon {
    display: none;
  }

  .menu-button {
    z-index: 10; /* make the button on top */
  }

  /* When the nav is open have these properties */
  .nav-is-open { /* no scrolling down when nav is open */
    height: 100vh;
    overflow-y: hidden;
  }

  .nav-is-open nav{
    transform: translateX(0);
  }

  .nav-is-open .container-all {
    transform: translateX(80%);
  }

  .nav-is-open .close-icon {
    display: block;
  }

  .nav-is-open .hamburger {
    display: none;
  }

  .nav-is-open .menu-button {
    transform: translateX(-50%);
  }
  /* End of properties for when the nav is open */

  @media (min-width: 50em) {
    body {
      font-size: 1.125rem;
    }

    h1 {
      font-size: 4rem;
    }

    .hero-text h1 {
      font-size: 3vw;
    }

    .hero-text h1 span {
      font-size: 10vw;
    }

    .portfolio-items {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 37em){
    /* Keep the image left and move the text below 
    when screen shrinks */
    .about-me {
      flex-direction: column;
    }

    .about-img {
      grid-row: 1 / 2;
    }

    .about-text-wrapper {
      grid-column: port-start / port;
      grid-row: 2 / 3
    }
  }

  .portfolio-modal {
    position: fixed;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background: white;
    box-shadow: 0 0 0 3em rgba(0, 0, 0, .5);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .modal-close {
    background: white;
    position: fixed;
    left: 1em;
    top: 1em;
    border: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }

  .portfolio-header {
    text-align: left;
    padding: 5em 0em;
    margin-bottom: 2em;
  }

  .portfolio-header:nth-of-type(1) {
    background-image: url(../image/portfolio-image1.jpg);
    background-size: cover;
    background-position: center;
  }

  .portfolio-title-box {
    background: rgba(42,68,148, .75);
    padding: 3em;
    color: white;
    width: 70%;
  }

  .portfolio-header .portfolio-title-box .portfolio-title {
    font-size: 3.5rem;
    letter-spacing: .2em;
    display: inline-block;
  }
  
  .portfolio-title-box .portfolio-title::after {
    content: '';
    display: block;
    height: 1px;
    margin: 1em 0;
    background: white;
    width: 100%;
  }

  .portfolio-subtitle {
    font-size: 1rem;
  }

  .portfolio-content {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .portfolio-item .portfolio-full-width {
    height: 20vh;
    width: 100vw;
    max-width: initial;
    margin: 2em calc(50% - 50vw);
    object-fit: cover;
  }

  @media (min-width: 40em) {
    .portfolio-item .portfolio-pull-left {
      width: 65%;
      float: left;
      margin-right: 2em;
    }

    .portfolio-item .portfolio-pull-right {
      width: 65%;
      float: right;
      margin-left: 2em;
    }
  }